<div class="add-record">
  <div class="container">
    <h2>Add record</h2>

    <form (ngSubmit)="addNewResult()">
      <label for="date">
        Jogging date:
      </label>
      <input type="date" id="date" [(ngModel)]="date" placeholder="mm/dd/yyyy" name="date">

      <br>

      <label for="distance">
        Distance (m):
      </label>
      <input type="number" id="distance" [(ngModel)]="distance" placeholder="0" name="distance">

      <br>

      <label for="time">
        Time (s):
      </label>
      <input type="number" id="time" [(ngModel)]="time" placeholder="0" name="time">

      <button type="submit">Save</button>
    </form>
  </div>
</div>
